
# 生产环境 nginx 配置

server {
    listen 80;

    location /static {
        root /var/project;
    }

    location /media {
        root /var/project;
    }

    location / {
        proxy_pass http://127.0.0.1:8000;
    }
}