{% extends 'base.html' %}
{% block content %}
<div class="blank"></div>
<div class="inner container">	
	<main class="main">		
		<div class="content">
			<div class="breadcrumb">
				<span><i class="icon-home"></i> 
				<a href="/" title="信托定融网">首页</a>
				 / <a href="{% if menu == '信托' %}/xintuo/{% endif %}
      	{% if menu == '定容工具' %}定融工具/dingrong/{% endif %}
      	{% if menu == '行业资讯' %}/news/{% endif %}" title="查看{{menu}}的全部文章">{{ menu }}</a> 				</span>
			</div>
						<article class="post wow fadeIn cate1  auth1" style="visibility: visible; animation-name: fadeIn;">
	<h1 class="post-title">{{ a.title }}</h1>
	<div class="postmeta">
		<span><i class="icon-user-circle-o"></i> {{ a.user }}</span>
		<span><i class="icon-calendar"></i> {{ a.create_time | date:'Y-m-d' }}</span>
		<span><i class="icon-eye"></i> {{ a.read }}</span>
		<span><i class="icon-commenting-o"></i> {{ a.comment_num }}</span>
	</div>
	<div class="toppic wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
		{{ a.content | safe }}
	</div>
		
	<section class="related-pic">
		<h3><i class="icon-file-image"></i> 相关文章</h3>
			<ul>
				{% for i in relations %}
				<li>
				<div class="thumbnail">
					<a href="/article/{{i.id}}" target="_blank" title="{{i.title}}"><img alt="{{i.title}}" src="{{ i.cover.url }}"></a>
				</div>
				<p><a href="/article/{{i.id}}" target="_blank" title="{{i.title}}">{{ i.title}}</a></p>
			</li>
			{% endfor %}
			</section>
	</article>						
		</div>
	</main>
	<aside class="sidebar"><section class="widget theme-widget wow fadeInUp" id="zbsixth_new" style="visibility: visible; animation-name: fadeInUp;"> 
     <div class="title"> 
      <h3>最新文章</h3> 
     </div> 
     <ul> 
     	{% for i in new10 %}
      <li>
       <div class="thumbnail">
        <a href="/article/{{ i.id }}/" target="_blank">
        	<img src="{{ i.cover.url }}" alt="{{ i.title }}" /></a>
       </div><p><a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a></p></li> 
     {% endfor %}
     </ul> 
    </section> 
    <section class="widget theme-widget wow fadeInUp" id="zbsixth_hot" style="visibility: visible; animation-name: fadeInUp;">
		<div class="title">
		<h3>热门文章</h3>
	</div>
	<ul>
		{% for i in hot1 %}
		<li class="hots"><i {% if forloop.counter == 1  %}class="first"{% endif %}
			{% if forloop.counter == 2  %}class="second"{% endif %}
			{% if forloop.counter == 3  %}class="third"{% endif %}>{{ forloop.counter }}</i>
			<a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a>
		</li>
		{% endfor %}
	</ul>
	</section>


<section class="widget theme-widget wow fadeInUp" id="zbsixth_cmts" style="visibility: hidden; animation-name: none;">
		<div class="title">
		<h3>热评文章</h3>
	</div>
			<ul>
			{% for i in hot2 %}
		<li class="list cur"><div class="thumbnail"><a href="/article/{{ i.id }}/" target="_blank">
			<img src="{{ i.cover.url }}" alt="{{ i.title }}"></a></div><p><i class="icon-right-open-mini"></i> <a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a></p></li>
		{% endfor %}
	</ul>
	</section>
{% endblock %}