
{% extends 'base.html' %}
{% block content %}
<div class="blank"></div>
<div class="inner container"> 
   <main class="main"> 
    <div class="content"> 
     <div class="breadcrumb"> 
      <span><i class="icon-home"></i> <a href="https://www.txzlx.com/" title="信托定融网">首页</a> / <a href="https://www.txzlx.com/?cate=1" title="查看定融工具中的全部文章">定融工具</a> </span> 
     </div> 
     <section class="section wow fadeIn cate2 auth1" style="visibility: visible; animation-name: fadeIn;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=87" title="购买定融工具返点流程" target="_blank"> <img alt="购买定融工具返点流程" src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555035434329478.jpg" /> </a> 
       <span>置顶推荐</span> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=87" title="购买定融工具返点流程" target="_blank">购买定融工具返点流程</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-04-12</time></span> 
       <span><i class="icon-eye"></i> 1578</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>交易流程定融返点具体是什么流程（江浙泸地区客户）：1，咨询项目，谈好点位，进款时间2，到您所在城市，确认相关细节3，打款后当面给返点，签署合同，将已签合同及材料交付于我4，一至两个月左右出确认涵，收到后第一时间给寄过来5，购买流程完成，后面...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: visible; animation-name: fadeIn;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=1301" title="铜仁市纬源投资发展公司资产收益权交易计划" target="_blank"> <img alt="铜仁市纬源投资发展公司资产收益权交易计划" src="https://www.txzlx.com/zb_users/upload/2019/06/201906171560736402469180.jpg" /> </a> 
       <span>置顶推荐</span> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=1301" title="铜仁市纬源投资发展公司资产收益权交易计划" target="_blank">铜仁市纬源投资发展公司资产收益权交易计划</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-06-17</time></span> 
       <span><i class="icon-eye"></i> 556</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称铜仁市纬源投资发展公司资产收益权交易计划收益率10%-11.5%备案青岛交所期限24个月付息季度付息起投5万规模5000万火爆开打中，每周五封账成立一期，当天成立起息收益说明5-20万=10%、20-50万=10.5%、50-200万...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: visible; animation-name: fadeIn;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=9910" title="最新定向融资工具" target="_blank"> <img alt="最新定向融资工具" src="https://www.txzlx.com/zb_users/upload/2019/08/201908021564727472260008.jpg" /> </a> 
       <span>置顶推荐</span> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=9910" title="最新定向融资工具" target="_blank">最新定向融资工具</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-08-02</time></span> 
       <span><i class="icon-eye"></i> 351</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>1、【铜仁市纬源投资发展公司资产收益权交易计划】&nbsp;&nbsp;&nbsp;&nbsp;【项目详情】【项目资料】信托同款+小额福音5万元起+纯政府平台融资+AA主体担保+应收账款确权+每周固定成立规模：5000万期限：2年期。...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: visible; animation-name: fadeIn;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=9869" title="黄石新港开发有限公司2019年应收账款资产收益权" target="_blank"> <img alt="黄石新港开发有限公司2019年应收账款资产收益权" src="https://www.txzlx.com/zb_users/upload/2019/08/201908021564711657812685.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=9869" title="黄石新港开发有限公司2019年应收账款资产收益权" target="_blank">黄石新港开发有限公司2019年应收账款资产收益权</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-08-02</time></span> 
       <span><i class="icon-eye"></i> 715</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称黄石新港开发有限公司2019年应收账款资产收益权收益率9%-9.备案金交所期限24个月付息季度付息起投20万规模2亿火爆开打中，每周五封账成立一期，当天成立起息收益说明30万9%-50万9.2%-100万9.5%-300万以上9....</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=9865" title="寿光金盛投资有限公司融资计划" target="_blank"> <img alt="寿光金盛投资有限公司融资计划" src="https://www.txzlx.com/zb_users/upload/2019/08/201908021564710767797417.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=9865" title="寿光金盛投资有限公司融资计划" target="_blank">寿光金盛投资有限公司融资计划</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-08-02</time></span> 
       <span><i class="icon-eye"></i> 784</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称寿光金盛投资有限公司融资计划收益率8.8%-10%备案金交所期限24个月付息半年付息起投20万规模1亿火爆开打中，每周五封账成立一期，当天成立起息收益说明30-50-100-300万以上8.8%-9.0%-9.5%-10.0%&amp;nb...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=9319" title="四川秦巴新城投资集团有限公司应收账款收益权项目" target="_blank"> <img alt="四川秦巴新城投资集团有限公司应收账款收益权项目" src="https://www.txzlx.com/zb_users/upload/2019/07/201907291564380312662067.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=9319" title="四川秦巴新城投资集团有限公司应收账款收益权项目" target="_blank">四川秦巴新城投资集团有限公司应收账款收益权项目</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-07-29</time></span> 
       <span><i class="icon-eye"></i> 676</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称四川秦巴新城投资集团有限公司应收账款收益权项目收益率8.5%-9.9%备案金交所期限24个月付息半年付息起投20万规模2亿火爆开打中，每周五封账成立一期，当天成立起息收益说明12个月：20-50-100-300：8.5%-9.0%-...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=9316" title="都江堰工投市政一号债务融资计划" target="_blank"> <img alt="都江堰工投市政一号债务融资计划" src="https://www.txzlx.com/zb_users/upload/2019/07/201907291564379726911170.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=9316" title="都江堰工投市政一号债务融资计划" target="_blank">都江堰工投市政一号债务融资计划</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-07-29</time></span> 
       <span><i class="icon-eye"></i> 752</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称都江堰工投市政一号债务融资计划收益率8.8%-10%备案金交所期限12-24个月付息半年付息起投30万规模3亿火爆开打中，每周五封账成立一期，当天成立起息收益说明12个月：30万-50万（不含）8.8%；50万-100万（不含）9....</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=8576" title="兰州投控1号资产收益权转让项目" target="_blank"> <img alt="兰州投控1号资产收益权转让项目" src="https://www.txzlx.com/zb_users/upload/2019/07/201907241563931225369087.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=8576" title="兰州投控1号资产收益权转让项目" target="_blank">兰州投控1号资产收益权转让项目</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-07-24</time></span> 
       <span><i class="icon-eye"></i> 818</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称兰州投控1号资产收益权转让项目收益率9.5%-10.5%备案金交所期限24个月付息自然季度付息起投20万规模5000万火爆开打中，每周五封账成立一期，当天成立起息收益说明20万-100万-300万：9.5%-10%-10.5%&amp;nbs...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=7454" title="四川秦巴新城投资集团有限公司应收账款收益权项目" target="_blank"> <img alt="四川秦巴新城投资集团有限公司应收账款收益权项目" src="https://www.txzlx.com/zb_users/upload/2019/07/201907181563420989752845.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=7454" title="四川秦巴新城投资集团有限公司应收账款收益权项目" target="_blank">四川秦巴新城投资集团有限公司应收账款收益权项目</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-07-18</time></span> 
       <span><i class="icon-eye"></i> 935</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称四川秦巴新城投资集团有限公司应收账款收益权项目收益率9%-9.9%备案金交所期限12-24个月付息半年付息起投20万规模2亿火爆开打中，每周五封账成立一期，当天成立起息收益说明20-50-100-300：9.0%-9.5%-9.6%...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=5161" title="四川巴中市新投2019定融计划" target="_blank"> <img alt="四川巴中市新投2019定融计划" src="https://www.txzlx.com/zb_users/upload/2019/07/201907081562550045918789.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=5161" title="四川巴中市新投2019定融计划" target="_blank">四川巴中市新投2019定融计划</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-07-07</time></span> 
       <span><i class="icon-eye"></i> 941</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称四川巴中市新投2019定融计划收益率8.5%-9.7%备案金交所期限12-24个月付息季度付息起投20万规模3亿火爆开打中，每周五封账成立一期，当天成立起息收益说明12月收益：20-50-100-3008.5%-8.8%-9.0%...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=2645" title="成都都江堰兴市集团2018年资产支持收益权交易计划" target="_blank"> <img alt="成都都江堰兴市集团2018年资产支持收益权交易计划" src="https://www.txzlx.com/zb_users/upload/2019/06/201906251561427901839283.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=2645" title="成都都江堰兴市集团2018年资产支持收益权交易计划" target="_blank">成都都江堰兴市集团2018年资产支持收益权交易计划</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-06-25</time></span> 
       <span><i class="icon-eye"></i> 1180</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称成都都江堰兴市集团2018年资产支持收益权交易计划收益率9%-10.2%备案青交所期限24个月付息半年付息起投10万规模2亿火爆开打中，每周五封账成立一期，当天成立起息收益说明10-50-100-300-600万：9%-9.5%-9...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=2040" title="淄博博山正普城市资产运营有限公司应收账款权益计划（机电产业园项目）" target="_blank"> <img alt="淄博博山正普城市资产运营有限公司应收账款权益计划（机电产业园项目）" src="https://www.txzlx.com/zb_users/upload/2019/06/201906211561105843513740.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=2040" title="淄博博山正普城市资产运营有限公司应收账款权益计划（机电产业园项目）" target="_blank">淄博博山正普城市资产运营有限公司应收账款权益计划（机电产业园项目）</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-06-21</time></span> 
       <span><i class="icon-eye"></i> 313</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称淄博博山正普城市资产运营有限公司应收账款权益计划（机电产业园项目）收益率8.8%-10%备案央地协同期限24个月付息季度付息起投20万规模2.7亿（首期3000万）火爆开打中，每周五封账成立一期，当天成立起息收益说明30万-50万-1...</p> 
      </div> 
     </section> 
     <section class="section wow fadeIn cate1 auth1" style="visibility: hidden; animation-name: none;"> 
      <div class="thumbnail"> 
       <a href="https://www.txzlx.com/?id=1313" title="绵阳富乐投资有限公司2018年应收账款收益权" target="_blank"> <img alt="绵阳富乐投资有限公司2018年应收账款收益权" src="https://www.txzlx.com/zb_users/upload/2019/06/201906171560741252296665.jpg" /> </a> 
      </div> 
      <h2><a href="https://www.txzlx.com/?id=1313" title="绵阳富乐投资有限公司2018年应收账款收益权" target="_blank">绵阳富乐投资有限公司2018年应收账款收益权</a></h2> 
      <div class="postmeta"> 
       <span><i class="icon-user-circle-o"></i> linbin123456</span> 
       <span><i class="icon-calendar"></i> <time>2019-06-17</time></span> 
       <span><i class="icon-eye"></i> 824</span> 
       <span><i class="icon-commenting-o"></i> 0</span> 
      </div> 
      <div class="excerpt"> 
       <p>全称绵阳富乐投资有限公司2018年应收账款收益权收益率8.7%-10%备案浙江南湖金交期限12个月，24个月付息季度付息起投10万规模1亿&nbsp;（分2期发行）火爆开打中，每周五封账成立一期，当天成立起息收益说明12个月收益：10-...</p> 
      </div> 
     </section> 
     <div class="pagenavi"> 
      <a href="https://www.txzlx.com/?cate=1"><span class="page">‹‹</span></a> 
      <span class="page now-page">1</span> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=2"><span class="page">2</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=3"><span class="page">3</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=4"><span class="page">4</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=5"><span class="page">5</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=6"><span class="page">6</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=2"><span class="page">›</span></a> 
      <a href="https://www.txzlx.com/?cate=1&amp;page=6"><span class="page">››</span></a> 
     </div> 
    </div> 
   </main> 
   <aside class="sidebar"> 
    <section class="widget theme-widget wow fadeInUp" id="zbsixth_new" style="visibility: visible; animation-name: fadeInUp;"> 
     <div class="title"> 
      <h3>最新文章</h3> 
     </div> 
     <ul> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12367" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=319991211,2863484109&amp;fm=11&amp;gp=0.jpg" alt="光大信托-盛唐10号湖北大冶苍潮" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12367" title="光大信托-盛唐10号湖北大冶苍潮" target="_blank">光大信托-盛唐10号湖北大冶苍潮</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12366" target="_blank"><img src="https://www.txzlx.com/zb_users/theme/zbsixth/style/images/no-image.jpg" alt="（华鑫信托-鑫沪62号集合资金信托计划）心实在刻" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12366" title="（华鑫信托-鑫沪62号集合资金信托计划）心实在刻" target="_blank">（华鑫信托-鑫沪62号集合资金信托计划）心实在刻</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12365" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=452566748,272490472&amp;fm=26&amp;gp=0.jpg" alt="上的生活更【央企信托湖南湘潭集合资金信托计划】" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12365" title="上的生活更【央企信托湖南湘潭集合资金信托计划】" target="_blank">上的生活更【央企信托湖南湘潭集合资金信托计划】</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12364" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3298894958,1319896520&amp;fm=26&amp;gp=0.jpg" alt="[GM新津国投(四川成都)集合资金信托计划]朋友一有" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12364" title="[GM新津国投(四川成都)集合资金信托计划]朋友一有" target="_blank">[GM新津国投(四川成都)集合资金信托计划]朋友一有</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12363" target="_blank"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2406084739,2463065627&amp;fm=11&amp;gp=0.jpg" alt="国民信托-淮安清江浦城资项目☼✪" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12363" title="国民信托-淮安清江浦城资项目☼✪" target="_blank">国民信托-淮安清江浦城资项目☼✪</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12362" target="_blank"><img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=170095328,3287416693&amp;fm=26&amp;gp=0.jpg" alt="盛唐10号湖北大冶集合资金信托计划过" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12362" title="盛唐10号湖北大冶集合资金信托计划过" target="_blank">盛唐10号湖北大冶集合资金信托计划过</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12361" target="_blank"><img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1123031835,3582680692&amp;fm=26&amp;gp=0.jpg" alt="[国民信托惠民1号集合资金信托计划]&sect;♤☻" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12361" title="[国民信托惠民1号集合资金信托计划]&sect;♤☻" target="_blank">[国民信托惠民1号集合资金信托计划]&sect;♤☻</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12360" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1078052721,2188812405&amp;fm=26&amp;gp=0.jpg" alt="长安融创上海山水拾间集合资金信托计划里" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12360" title="长安融创上海山水拾间集合资金信托计划里" target="_blank">长安融创上海山水拾间集合资金信托计划里</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12359" target="_blank"><img src="https://www.txzlx.com/zb_users/theme/zbsixth/style/images/no-image.jpg" alt="（央企信托-盛唐10号湖北大冶政信）糊中忙" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12359" title="（央企信托-盛唐10号湖北大冶政信）糊中忙" target="_blank">（央企信托-盛唐10号湖北大冶政信）糊中忙</a></p></li> 
      <li>
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12358" target="_blank"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3787487758,2299035744&amp;fm=26&amp;gp=0.jpg" alt="prc华鑫信托湖南湘潭集合资金信托计划" /></a>
       </div><p><a href="https://www.txzlx.com/?id=12358" title="prc华鑫信托湖南湘潭集合资金信托计划" target="_blank">prc华鑫信托湖南湘潭集合资金信托计划</a></p></li> 
     </ul> 
    </section> 
    <section class="widget theme-widget wow fadeInUp" id="zbsixth_cmts" style="visibility: hidden; animation-name: none;"> 
     <div class="title"> 
      <h3>热评文章</h3> 
     </div> 
     <ul> 
      <li class="list cur">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=1" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555031918268190.jpg" alt="XX信托-鑫瑞12月（个人）" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=1" title="XX信托-鑫瑞12月（个人）" target="_blank">XX信托-鑫瑞12月（个人）</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=4" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555031929717204.jpg" alt="央企信托-扬州广陵集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=4" title="央企信托-扬州广陵集合资金信托计划" target="_blank">央企信托-扬州广陵集合资金信托计划</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=5" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555031943713876.png" alt="XX信托-威海蓝创集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=5" title="XX信托-威海蓝创集合资金信托计划" target="_blank">XX信托-威海蓝创集合资金信托计划</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=6" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555031963785057.png" alt="百瑞信托-宝盈578号集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=6" title="百瑞信托-宝盈578号集合资金信托计划" target="_blank">百瑞信托-宝盈578号集合资金信托计划</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=7" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555031982552248.jpg" alt="国通信托-百色福地金投集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=7" title="国通信托-百色福地金投集合资金信托计划" target="_blank">国通信托-百色福地金投集合资金信托计划</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=20" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904081554692870509430.png" alt="政府债、城投债、定融、政信信托有什么区别？" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=20" title="政府债、城投债、定融、政信信托有什么区别？" target="_blank">政府债、城投债、定融、政信信托有什么区别？</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=11" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555032002600171.jpg" alt="渤海信托-博成7号湖州市集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=11" title="渤海信托-博成7号湖州市集合资金信托计划" target="_blank">渤海信托-博成7号湖州市集合资金信托计划</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=12" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904071554633111219788.png" alt="央企信托-大丰城建" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=12" title="央企信托-大丰城建" target="_blank">央企信托-大丰城建</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=13" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555032034216735.jpg" alt="央企信托-水泽11号钦州" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=13" title="央企信托-水泽11号钦州" target="_blank">央企信托-水泽11号钦州</a></p></li> 
      <li class="list">
       <div class="thumbnail">
        <a href="https://www.txzlx.com/?id=14" target="_blank"><img src="https://www.txzlx.com/zb_users/upload/2019/04/201904121555032051558545.jpg" alt="光大信托-寿光金财集合资金信托计划" /></a>
       </div><p><i class="icon-right-open-mini"></i> <a href="https://www.txzlx.com/?id=14" title="光大信托-寿光金财集合资金信托计划" target="_blank">光大信托-寿光金财集合资金信托计划</a></p></li> 
     </ul> 
    </section> 
    <section class="widget theme-widget wow fadeInUp" id="zbsixth_hot" style="visibility: hidden; animation-name: none;"> 
     <div class="title"> 
      <h3>热门文章</h3> 
     </div> 
     <ul> 
      <li class="hots"><i class="first">1</i><a href="https://www.txzlx.com/?id=109" title="2019第一季度，信托公司总发行量5700亿元" target="_blank">2019第一季度，信托公司总发行量5700亿元</a></li> 
      <li class="hots"><i class="second">2</i><a href="https://www.txzlx.com/?id=11" title="渤海信托-博成7号湖州市集合资金信托计划" target="_blank">渤海信托-博成7号湖州市集合资金信托计划</a></li> 
      <li class="hots"><i class="third">3</i><a href="https://www.txzlx.com/?id=13" title="央企信托-水泽11号钦州" target="_blank">央企信托-水泽11号钦州</a></li> 
      <li class="hots"><i>4</i><a href="https://www.txzlx.com/?id=12" title="央企信托-大丰城建" target="_blank">央企信托-大丰城建</a></li> 
      <li class="hots"><i>5</i><a href="https://www.txzlx.com/?id=425" title="国企信托-成都33号集合资金信托计划" target="_blank">国企信托-成都33号集合资金信托计划</a></li> 
      <li class="hots"><i>6</i><a href="https://www.txzlx.com/?id=20" title="政府债、城投债、定融、政信信托有什么区别？" target="_blank">政府债、城投债、定融、政信信托有什么区别？</a></li> 
      <li class="hots"><i>7</i><a href="https://www.txzlx.com/?id=6" title="百瑞信托-宝盈578号集合资金信托计划" target="_blank">百瑞信托-宝盈578号集合资金信托计划</a></li> 
      <li class="hots"><i>8</i><a href="https://www.txzlx.com/?id=1" title="XX信托-鑫瑞12月（个人）" target="_blank">XX信托-鑫瑞12月（个人）</a></li> 
      <li class="hots"><i>9</i><a href="https://www.txzlx.com/?id=7" title="国通信托-百色福地金投集合资金信托计划" target="_blank">国通信托-百色福地金投集合资金信托计划</a></li> 
      <li class="hots"><i>10</i><a href="https://www.txzlx.com/?id=5" title="XX信托-威海蓝创集合资金信托计划" target="_blank">XX信托-威海蓝创集合资金信托计划</a></li> 
     </ul> 
    </section>

{% endblock %}