{% extends 'base.html' %}
{% block content %}
<div class="blank"></div>
<div class="inner container">
	<main class="main">
				<div class="focus wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
			<div class="flexslider">
				
			<div class="flex-viewport" style="overflow: hidden; position: relative;">
				<ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1230px, 0px, 0px);">
					{% for i in scroll_top %}
						<li class="clone" aria-hidden="true" style="width: 410px; margin-right: 0px; float: left; display: block;">
							<a href="/article/{{ i.id }}/" target="_blank">
							<img src="{{ i.cover.url }}" alt="{{ i.title }}" draggable="false">
							<p class="flex-caption">{{ i.title }}</p>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<ol class="flex-control-nav flex-control-paging">
				<li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol></div>
		</div>
		<section class="top wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
			<h3>头条推荐</h3>
						
			<ul>
				{% for i in top %}
					<li>
						<h4>
							<a href="/article/{{ i.id }}/" target="_blank" title="2019.8.22最新信托产品集合">{{ i.title }}
							</a>
						</h4>
						<p>{{ i.short }}</p>
					</li>
				{% endfor %}
			</ul>
		</section>
		<div class="clear"></div>
		<!-- <section class="hots wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<div class="title"><h3>站长推荐</h3></div>
			<ul>
																<li>
					<div class="thumbnail">
						<a href="https://www.txzlx.com/?id=116" target="_blank" title="铜仁市纬源投资发展公司资产收益权交易计划"><img alt="铜仁市纬源投资发展公司资产收益权交易计划" src="https://www.txzlx.com/zb_users/upload/2019/04/201904171555469765350009.jpg"></a>
					</div>
					<h4><a href="https://www.txzlx.com/?id=116" target="_blank" title="铜仁市纬源投资发展公司资产收益权交易计划">铜仁市纬源投资发展公司资产收益权交易计划</a></h4>
					<p>产品名称:铜仁市纬源投资发展公司资产收益权交易计划产品期限:2年期付息方式:成立后每年3月22日、...</p>
				</li>
																<li class="right">
					<div class="thumbnail">
						<a href="https://www.txzlx.com/?id=415" target="_blank" title="广金所-江油城投应收账款收益权"><img alt="广金所-江油城投应收账款收益权" src="https://www.txzlx.com/zb_users/upload/2019/06/201906041559632849358670.jpg"></a>
					</div>
					<h4><a href="https://www.txzlx.com/?id=415" target="_blank" title="广金所-江油城投应收账款收益权">广金所-江油城投应收账款收益权</a></h4>
					<p>诗仙”李白故居➕市国资委100%控股公司发债➕双AA发债平台担保➕市财政局2.35亿应收...</p>
				</li>
											</ul>
		</section> -->
	<div class="content">
		<div class="title"><h3>最新资讯</h3></div>	

{% for i in articles %}
	<section class="section wow fadeIn cate2 auth1" style="visibility: hidden; animation-name: none;">
	<div class="thumbnail">
		<a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">
		<img alt="{{ i.title }}" src="{{ i.cover.url }}">
		</a>
	</div>
	<h2><a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a></h2>
	<div class="postmeta">
		<span><i class="icon-user-circle-o"></i> {{ i.user }}</span>
		<span><i class="icon-calendar"></i> <time>{{ i.create_time | date:'Y-m-d' }}</time></span>
		<span><i class="icon-eye"></i> {{ i.read }}</span>
		<span><i class="icon-commenting-o"></i> {{ i.comment_num }}</span>
	</div>
	<div class="excerpt">
		<p>{{ i.short }}</p>
	</div>
</section>		
{% endfor %}														
	
	{% include 'page.html' %}
		</div>
	
	</main>
	<aside class="sidebar">
<section class="widget theme-widget wow fadeInUp" id="zbsixth_hot" style="visibility: visible; animation-name: fadeInUp;">
		<div class="title">
		<h3>热门文章</h3>
	</div>
	<ul>
		{% for i in hot1 %}
		<li class="hots"><i {% if forloop.counter == 1  %}class="first"{% endif %}
			{% if forloop.counter == 2  %}class="second"{% endif %}
			{% if forloop.counter == 3  %}class="third"{% endif %}>{{ forloop.counter }}</i>
			<a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a>
		</li>
		{% endfor %}
	</ul>
	</section>


<section class="widget theme-widget wow fadeInUp" id="zbsixth_cmts" style="visibility: hidden; animation-name: none;">
		<div class="title">
		<h3>热评文章</h3>
	</div>
			<ul>
			{% for i in hot2 %}
		<li class="list cur"><div class="thumbnail"><a href="/article/{{ i.id }}/" target="_blank">
			<img src="{{ i.cover.url }}" alt="{{ i.title }}"></a></div><p><i class="icon-right-open-mini"></i> <a href="/article/{{ i.id }}/" title="{{ i.title }}" target="_blank">{{ i.title }}</a></p></li>
		{% endfor %}
	</ul>
	</section>


<section class="widget theme-widget wow fadeInUp" id="divComments" style="visibility: hidden; animation-name: none;">
		<div class="title">
		<h3>最新留言</h3>
	</div>
			<ul>
				{% for i in messages %}
				<li class="list cur"><i class="icon-commenting-o"></i><div class="thumbnail">{{ i.content }}</div></li>
				{% endfor %}
			</ul>
	</section>
{% endblock %}
